# output
/.cache
/coverage
*.map
/release*
/build

# dependencies
/node_modules

# logs
*.log
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# Zero-Installs
# .yarn/*
# !.yarn/cache
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions

# non Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions