{
    "arrowParens": "avoid",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "tabWidth": 2,
    "jsxBracketSameLine": false,
    "printWidth": 120
}
