.App {
  text-align: center;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

      text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    margin-right : 0;
    font-size: 16px;
}

.layoutPreview .content {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    overflow-y: initial;
 
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Editor {
  text-align: left;
  white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.layout__panel {
  position: relative;
  width: 100%;
  height: 100%;
  flex: none;
  overflow: hidden;
}

.flex--row {
  flex-direction: row;
}
.flex {
  display: flex;
}

.CodeMirror {
  height: auto;
  font-family: inherit;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.title {
  margin:0em;
}


/*  App specific */

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: rgba(10, 132, 255, 1);
}

  a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}


.layout {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
/* scrollbars */

.CodeMirror-vscrollbar {
  user-select: none; 
  outline: none !important; 
}

::-webkit-scrollbar-thumb {
  background-color:  rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  background-color: (0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.1); 
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.editorApp .cm-header {
    color: #000;
}
.editorApp .cm-header-1 {
    font-size: 150%;
}
.cm-header-2 {
    font-size: 130%;
}
.cm-header-3 {
    font-size: 110%;
}